# **Pyspark Installation**

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 44 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 59.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=7f28de7ce8da5a08c61cc32438b839c7a8e393f33ef252c6f2f25530e3e5e9d8
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

## **Import the Pyspark Library**

In [2]:
import pyspark

## **Create a Session**

In [3]:
from pyspark.sql import SparkSession

**Let's create a Session App Name**

In [6]:
spark = SparkSession.builder.appName('Spark_Introduction').getOrCreate()

**Let's Check the session name**

In [7]:
spark

In [9]:
df_spark = spark.read.csv('indeed_jobs.csv')

Show the dataframe

In [11]:
df_spark.show()

+--------------------+--------------------+------------+--------------------+
|                 _c0|                 _c1|         _c2|                 _c3|
+--------------------+--------------------+------------+--------------------+
|           job_title|         job_company|job_location|         job_summary|
|Information Manag...|United Nations Pa...|    Pakistan|Assist in data cl...|
|      Data Scientist|            Teradata|   Islamabad|Experience in dat...|
|        Data Analyst|Aga Khan Health S...|     Karachi|B.Sc. degree (or ...|
|Data Processing A...|                 GfK|     Karachi|To suggest improv...|
|  Front Line Manager|             PepsiCo|      Multan|Degree in either ...|
|        DATA ANALYST|            Dignosco|      Lahore|Job Title Data An...|
|       Data Engineer|         Sastaticket|     Karachi|You will use vari...|
|Business Intellig...|               Bykea|    Pakistan|Run experiments a...|
|        Data Analyst|               Zones|   Islamabad|Expertise to deve...|
|      Data Architect|                 HBL|     Karachi|Design and build ...|
|Program Officer– ...|Pakistan Centre f...|    Pakistan|Ü Designing data ...|
|Information Manag...|                  UN|    Pakistan|Assist in data cl...|
|     Sr Data Modeler|            Teradata|   Islamabad|This role is resp...|
|Regulatory Affair...|            Syngenta|    Pakistan|Cooperate for lay...|
|Data Analyst (Cli...|             Afiniti|     Karachi|Help Senior Accou...|
|Digital, Data and...|        Novo Nordisk|     Karachi|Business Partneri...|
|Social Science Re...|Balochistan Counc...|      Quetta|Perform descripti...|
|Business Analyst ...|    Seeka Technology|   Islamabad|Our ideal candida...|
|IT Assistant/Tech...|         Reach First|  Rawalpindi|Perform data back...|
+--------------------+--------------------+------------+--------------------+
only showing top 20 rows

In [15]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

**Let's set column names in spark**

In [13]:
df = spark.read.option('header', 'true').csv('indeed_jobs.csv')

**Let's again see if column name set or not**

In [14]:
df

DataFrame[job_title: string, job_company: string, job_location: string, job_summary: string]

**Let's see the head of dataframe**

In [17]:
df.head(5)

[Row(job_title='Information Management Assistant', job_company='United Nations Pakistan', job_location='Pakistan', job_summary='Assist in data cleaning and analysis by ensuring data consistency and provide statistical summary of the data.Perform other duties as they might be assigned.'),
 Row(job_title='Data Scientist', job_company='Teradata', job_location='Islamabad', job_summary='Experience in data analysis is a plus.Strong hands-on data wrangling and number crunching skills to develop the right insights.'),
 Row(job_title='Data Analyst', job_company='Aga Khan Health Service, Pakistan', job_location='Karachi', job_summary='B.Sc. degree (or equivalent level of professional experience) in science, maths, or another subject requiring regular handling of data.'),
 Row(job_title='Data Processing Associate', job_company='GfK', job_location='Karachi', job_summary='To suggest improvements in product data development.We connect data, science and innovative digital research solutions to provide answers for key business…'),
 Row(job_title='Front Line Manager', job_company='PepsiCo', job_location='Multan', job_summary='Degree in either engineering or food science.Ensures all shift data is completed and entered M&W database for shift wise monitoring of efficiencies, materials…')]

**Let's see the type of df**

In [18]:
type(df)

pyspark.sql.dataframe.DataFrame

**Print the Schema of df**

In [19]:
df.printSchema()

root
 |-- job_title: string (nullable = true)
 |-- job_company: string (nullable = true)
 |-- job_location: string (nullable = true)
 |-- job_summary: string (nullable = true)